*{
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    overflow: hidden;
    font-family: Lucida Console;
}
html, body{
    cursor: crosshair;
    overflow: hidden;
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#gameCanvas{
    object-fit: contain;
    background-color: aliceblue;
  }
#statusPanel{
    display: block;
    background-color: blue;
    color: white;
    width: 580px;
    height: 60%;
}